:root {
  --pink-light: rgb(202, 63, 98);
  --pink-dark: rgb(238, 16, 72);
  --grey-light-1: rgb(240, 238, 238);
  --grey-light-2: rgb(139, 138, 138);
  --grey-dark-1: rgb(121, 118, 119);
  --grey-dark-2: rgb(87, 83, 84); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'open sans', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  background-color: var(--pink-light); }

.main_container {
  min-height: 100rem;
  min-width: 120rem;
  background-color: var(--grey-light-1); }

.header {
  height: 7rem;
  background-color: #f8faf8; }

.total_content {
  display: flex;
  background-color: mediumaquamarine; }

.menu_bar {
  background-color: pink;
  flex: 0 0 18%; }

.main_content {
  background-color: lightsalmon;
  flex: 1; }
