:root {
  --pink-light: rgb(202, 63, 98);
  --pink-dark: rgb(238, 16, 72);
  --grey-light-1: rgb(240, 238, 238);
  --grey-light-2: rgb(139, 138, 138);
  --grey-dark-1: rgb(121, 118, 119);
  --grey-dark-2: rgb(87, 83, 84); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'open sans', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  background-color: var(--pink-light); }

.main_container {
  margin: 6rem auto;
  min-height: 100rem;
  max-width: 120rem;
  background-color: var(--grey-light-1); }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #f8faf8;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.total_content {
  display: flex;
  background-color: mediumaquamarine; }

.menu_bar {
  background-color: pink;
  flex: 0 0 18%; }

.main_content {
  background-color: lightsalmon;
  flex: 1; }

.logo {
  height: 3.25rem;
  margin-left: 3rem; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30%; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--grey-light-1);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin: -3.5rem;
    transition: all .3s; }
    .search__input:focus {
      background-color: var(--grey-light-1);
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100; }
  .search__button {
    border: none;
    background-color: var(--grey-light-1); }
    .search__button:focus {
      background-color: var(--grey-light-1);
      outline: none; }
    .search__button:active {
      transform: translateX(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem; }

.user {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; }
  .user > *:hover {
    background-color: var(--grey-light-1);
    height: 100%; }
  .user__icons__container {
    display: flex;
    align-items: center;
    position: relative; }
  .user__icons {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-1); }
  .user__icon__notfy {
    font-size: 1rem;
    background-color: var(--pink-light);
    color: white;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem; }
  .user__avtar {
    display: flex;
    align-items: center; }
  .user__avtar__img {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
